step-functions/post-answer.asl.json
{
  "Comment": "State machine for saving answers submitted in the HMRC KBV journey",
  "StartAt": "Check Session-Id is Present",
  "States": {
    "Check Session-Id is Present": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.sessionId",
              "IsPresent": true
            },
            {
              "Variable": "$.sessionId",
              "IsString": true
            }
          ],
          "Next": "DynamoDB Get SessionItem"
        }
      ],
      "Default": "Err: Fail SessionId missing"
    },
    "DynamoDB Get SessionItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${SessionTableName}",
        "Key": {
          "sessionId": {
            "S.$": "$.sessionId"
          }
        }
      },
      "Next": "Is there a sessionItem for the sessionId",
      "TimeoutSeconds": 5,
      "ResultPath": "$.sessionItem"
    },
    "Is there a sessionItem for the sessionId": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.sessionItem.Item.sessionId.S",
              "IsPresent": true
            },
            {
              "Variable": "$.sessionItem.Item.sessionId.S",
              "IsString": true
            },
            {
              "Variable": "$.sessionItem.Item.sessionId.S",
              "StringEqualsPath": "$.sessionId"
            }
          ],
          "Next": "Invoke Validating Answers Lambda"
        }
      ],
      "Default": "Err: SessionItem not found"
    },
    "Invoke Validating Answers Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${AnswerValidationArn}"
      },
      "Next": "Parse input",
      "ResultSelector": {
        "validated.$": "$.Payload.validated"
      },
      "ResultPath": "$.result"
    },
    "Parse input": {
      "Type": "Pass",
      "Next": "Validation Outcome",
      "Parameters": {
        "sessionId.$": "$.sessionId",
        "sessionItem.$": "$.sessionItem",
        "inputAnswer.$": "$.value",
        "answeredQuestionKey.$": "$.key",
        "validated.$": "$.result.validated"
      }
    },
    "Validation Outcome": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.validated",
          "BooleanEquals": true,
          "Next": "Query database for the users questions"
        }
      ],
      "Default": "Err: Invalid Answers State"
    },
    "Err: Invalid Answers State": {
      "Type": "Fail",
      "Error": "Answers in wrong format"
    },
    "Query database for the users questions": {
      "Type": "Task",
      "Next": "Find answered question",
      "Parameters": {
        "TableName": "${QuestionsTableName}",
        "KeyConditionExpression": "sessionId = :value",
        "ExpressionAttributeValues": {
          ":value": {
            "S.$": "$.sessionId"
          }
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
      "ResultPath": "$.usersQuestions"
    },
    "Find answered question": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Is the current question the answered question",
        "States": {
          "Is the current question the answered question": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.item.M.questionKey.S",
                "StringEqualsPath": "$.context.answeredQuestionKey",
                "Next": "Update answered question",
                "Comment": "current question"
              }
            ],
            "Default": "Do Nothing"
          },
          "Do Nothing": {
            "Type": "Pass",
            "End": true,
            "Result": {}
          },
          "Update answered question": {
            "Type": "Pass",
            "Parameters": {
              "M": {
                "questionKey.$": "$.item.M.questionKey.S",
                "answer.$": "$.context.inputAnswer"
              }
            },
            "End": true
          }
        }
      },
      "Next": "Get previous answers",
      "ItemsPath": "$.usersQuestions.Items[0].questions.L",
      "MaxConcurrency": 1,
      "ItemSelector": {
        "context.$": "$",
        "item.$": "$$.Map.Item.Value"
      },
      "ResultPath": "$.answers"
    },
    "Get previous answers": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${AnswersTableName}",
        "Key": {
          "sessionId": {
            "S.$": "$.sessionId"
          }
        }
      },
      "Next": "Answers for session exists",
      "ResultPath": "$.dynamoResult"
    },
    "Answers for session exists": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.dynamoResult.Item",
              "IsPresent": true
            },
            {
              "Variable": "$.dynamoResult.Item.sessionId.S",
              "StringEqualsPath": "$.sessionId"
            }
          ],
          "Comment": "Answers Exists",
          "Next": "Update answer in the database"
        }
      ],
      "Default": "Put the answer in the database"
    },
    "Put the answer in the database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${AnswersTableName}",
        "Item": {
          "sessionId": {
            "S.$": "$.sessionId"
          },
          "correlationId": {
            "S.$": "$.usersQuestions.Items[0].correlationId.S"
          },
          "expiryDate": {
            "N.$": "$.sessionItem.Item.expiryDate.N"
          },
          "answers": {
            "L.$": "$.answers[?(@.M)]"
          }
        }
      },
      "ResultPath": "$.updateDynamoResults",
      "Next": "Iterate over questions"
    },
    "Update answer in the database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${AnswersTableName}",
        "Key": {
          "sessionId": {
            "S.$": "$.sessionId"
          }
        },
        "UpdateExpression": "SET answers = list_append(answers, :newList)",
        "ExpressionAttributeValues": {
          ":newList": {
            "L.$": "$.answers[?(@.M)]"
          }
        }
      },
      "Next": "Iterate over questions",
      "ResultPath": "$.updateDynamoResults"
    },
    "Iterate over questions": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Is answered question the current question",
        "States": {
          "Is answered question the current question": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.item.M.questionKey.S",
                "StringEqualsPath": "$.context.answeredQuestionKey",
                "Next": "Map questions answered",
                "Comment": "Yes"
              }
            ],
            "Default": "Maintain exisiting question state"
          },
          "Maintain exisiting question state": {
            "Type": "Pass",
            "End": true,
            "Parameters": {
              "M": {
                "questionKey.$": "$.item.M.questionKey",
                "answered": {
                  "BOOL.$": "$.item.M.answered.Bool"
                },
                "info.$": "$.item.M.info",
                "order.$": "$.item.M.order"
              }
            }
          },
          "Map questions answered": {
            "Type": "Pass",
            "End": true,
            "Parameters": {
              "M": {
                "questionKey.$": "$.item.M.questionKey",
                "answered": {
                  "BOOL": true
                },
                "info.$": "$.item.M.info",
                "order.$": "$.item.M.order"
              }
            }
          }
        }
      },
      "Next": "Update questions answered in the database",
      "ItemsPath": "$.usersQuestions.Items[0].questions.L",
      "ResultPath": "$.answeredQuestionsMap",
      "ItemSelector": {
        "context.$": "$",
        "item.$": "$$.Map.Item.Value"
      }
    },
    "Update questions answered in the database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${QuestionsTableName}",
        "Key": {
          "sessionId": {
            "S.$": "$.sessionId"
          }
        },
        "UpdateExpression": "SET questions = :updatedQuestions",
        "ExpressionAttributeValues": {
          ":updatedQuestions": {
            "L.$": "$.answeredQuestionsMap"
          }
        }
      },
      "Next": "Calculate array lengths",
      "ResultPath": "$.updateDynamoResults"
    },
    "Calculate array lengths": {
      "Type": "Pass",
      "Next": "Check to see if there are any more unanswered questions",
      "Parameters": {
        "answeredQuestionsLength.$": "States.ArrayLength($.answeredQuestionsMap[?(@.M.answered.BOOL==true)])",
        "totalQuestionsLength.$": "States.ArrayLength($.usersQuestions.Items[0].questions.L)"
      },
      "ResultPath": "$.arrayLengths"
    },
    "Check to see if there are any more unanswered questions": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.arrayLengths.answeredQuestionsLength ",
          "NumericEqualsPath": "$.arrayLengths.totalQuestionsLength ",
          "Next": "Create Parameters State Location"
        }
      ],
      "Default": "Response Filter"
    },
    "Create Parameters State Location": {
      "Type": "Pass",
      "Next": "GetParameter OtgApiUrl",
      "Result": {
        "otgApiUrl": "NOT_SET",
        "url": "NOT_SET",
        "userAgent": "NOT_SET"
      },
      "ResultPath": "$.parameters"
    },
    "GetParameter OtgApiUrl": {
      "Type": "Task",
      "Parameters": {
        "Name": "${OtgApiUrl}"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "Next": "Invoke OTG Token Lambda",
      "ResultSelector": {
        "value.$": "$.Parameter.Value"
      },
      "ResultPath": "$.parameters.otgApiUrl"
    },
    "Invoke OTG Token Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${OTGTokenFunctionArn}"
      },
      "Next": "Is otgLambdaResult Present",
      "ResultPath": "$.otgLambdaResult"
    },
    "Is otgLambdaResult Present": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.otgLambdaResult.Payload.token",
              "IsPresent": true
            },
            {
              "Variable": "$.otgLambdaResult.Payload.expiry",
              "IsPresent": true
            }
          ],
          "Next": "Relocate bearerToken"
        }
      ],
      "Default": "Err: Lambda responded unexpectedly"
    },
    "Relocate bearerToken": {
      "Type": "Pass",
      "Next": "GetParameter AnswersUrl",
      "ResultPath": "$.bearerToken",
      "Parameters": {
        "value.$": "$.otgLambdaResult.Payload.token",
        "expiry.$": "$.otgLambdaResult.Payload.expiry"
      }
    },
    "GetParameter AnswersUrl": {
      "Type": "Task",
      "Parameters": {
        "Name": "${AnswersUrl}"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "Next": "GetParameter User Agent",
      "ResultSelector": {
        "value.$": "$.Parameter.Value"
      },
      "ResultPath": "$.parameters.url"
    },
    "GetParameter User Agent": {
      "Type": "Task",
      "Parameters": {
        "Name": "${UserAgent}"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "Next": "DynamoDB Get SessionItem",
      "ResultPath": "$.parameters.userAgent",
      "ResultSelector": {
        "value.$": "$.Parameter.Value"
      }
    },
    "DynamoDB Get SessionItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${SessionTableName}",
        "Key": {
          "sessionId": {
            "S.$": "$.sessionId"
          }
        }
      },
      "Next": "Invoke Submit Answers Lambda",
      "ResultPath": "$.sessionItem"
    },
    "Invoke Submit Answers Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${SubmitAnswersArn}"
      },
      "Next": "Fetch Auth Code Expiry"
    },
    "Fetch Auth Code Expiry": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${CreateAuthCodeFunctionArn}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Set Auth Code for Session",
      "ResultPath": "$.expiry"
    },
    "Set Auth Code for Session": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${SessionTableName}",
        "Key": {
          "sessionId": {
            "S.$": "$$.Execution.Input.sessionId"
          }
        },
        "UpdateExpression": "SET authorizationCode = :authCode, authorizationCodeExpiryDate = :expiry",
        "ExpressionAttributeValues": {
          ":authCode": {
            "S.$": "States.UUID()"
          },
          ":expiry": {
            "N.$": "States.Format('{}',$.expiry.Payload.authCodeExpiry)"
          }
        }
      },
      "Next": "Response Filter"
    },
    "Response Filter": {
      "Type": "Pass",
      "Next": "Success",
      "Result": {}
    },
    "Err: Lambda responded unexpectedly": {
      "Type": "Fail",
      "Error": "Lambda responded unexpectedly"
    },
    "Err: Fail SessionId missing": {
      "Type": "Fail",
      "Error": "SessionId missing or not found"
    },
    "Err: SessionItem not found": {
      "Type": "Fail",
      "Error": "SessionItem not found"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
