step-functions/post-ivq-answers.asl.json
{
  "Comment": "Post all answers to HMRC",
  "StartAt": "Get all Unanswered Questions",
  "States": {
    "Get all Unanswered Questions": {
      "Type": "Task",
      "Next": "All Questions Answered",
      "Parameters": {
        "TableName": "${QuestionsTableName}",
        "KeyConditionExpression": "sessionId = :value",
        "FilterExpression": "answered = :answeredValue",
        "ExpressionAttributeValues": {
          ":value": {
            "S.$": "$.sessionId"
          },
          ":answeredValue": {
            "S": "false"
          }
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
      "ResultPath": "$.questions"
    },
    "All Questions Answered": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.questions.Count",
          "NumericGreaterThan": 0,
          "Next": "Do Nothing"
        }
      ],
      "Default": "Get all Answered Questions"
    },
    "Get all Answered Questions": {
      "Type": "Task",
      "Next": "GetSecretValue",
      "Parameters": {
        "TableName": "${QuestionsTableName}",
        "KeyConditionExpression": "sessionId = :value",
        "FilterExpression": "answered = :answeredValue",
        "ExpressionAttributeValues": {
          ":value": {
            "S.$": "$.sessionId"
          },
          ":answeredValue": {
            "S": "true"
          }
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
      "ResultPath": "$.questions"
    },
    "GetSecretValue": {
      "Type": "Task",
      "Next": "GetParameters",
      "Parameters": {
        "SecretId": "${BearerTokenName}"
      },
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
      "ResultSelector": {
        "value.$": "$.SecretString"
      },
      "ResultPath": "$.oAuthToken"
    },
    "Do Nothing": {
      "Type": "Pass",
      "End": true
    },
    "GetParameters": {
      "Type": "Task",
      "Parameters": {
        "Names": ["${AnswersUrlName}", "${UserAgentName}"]
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameters",
      "Next": "Create Lambda Input",
      "ResultSelector": {
        "url.$": "$.Parameters[0].Value",
        "userAgent.$": "$.Parameters[1].Value"
      },
      "ResultPath": "$.parameters"
    },
    "Create Lambda Input": {
      "Type": "Pass",
      "Next": "Lambda Invoke",
      "Parameters": {
        "questionTableName": "${QuestionsTableName}",
        "sessionId.$": "$.sessionId",
        "nino.$": "$.nino",
        "oAuthToken": {
          "value.$": "$.oAuthToken.value"
        },
        "parameters.$": "$.parameters",
        "questions.$": "$.questions"
      }
    },
    "Lambda Invoke": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${PostIvqAnswersLambdaArn}"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 1,
          "MaxAttempts": 2,
          "BackoffRate": 1
        }
      ],
      "End": true
    }
  }
}
